<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOCUSTRACK</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen bg-gray-100">
    <header class="bg-white shadow">
        <nav class="container mx-auto px-4 py-3">
            <!-- Add header content here if we want to add anything -->
            {{#if logged_in}}
            <ul>
              <li><a href="#" id="logout">Logout</a></li>
            </ul>
            {{/if}}
        </nav>
    </header>

    <main class="flex-grow container mx-auto px-4 py-8">
        {{{body}}}
    </main>

    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto px-4 text-center">
            <p>&copy; FOCUSTRACK 2024. All rights reserved.</p>
        </div>
    </footer>
    {{#if logged_in}}
    <script src="assets/js/logout.js"></script>
    {{/if}}
</body>
</html>